<p>Programming languages</p>

<ul class="" *ngIf="programmingCategoryList$ | async">
    <li *ngFor="let category of programmingCategoryList$ | async">
        <div>
            <a [routerLink]="" (click)="getByCategoryId(category.id)">
                {{ category.programmingCategoryName }}
            </a>
            <ul class="" *ngIf="programmingLanguageList$ | async">
                <li *ngFor="let progLanguage of programmingLanguageList$ | async">
                    <ng-container>
                        <a [routerLink]="" (click)="getProgrammingLanguageDetails(progLanguage.id)">
                            {{ progLanguage.programmingLanguageName }}
                        </a>
                        <app-programming-language-details *ngIf="activeIndexes.includes(progLanguage.id)"
                            [numberOfHits]="progLanguage.numberOfHits"
                            [programmingLanguageDetails]="progLanguageDetails">
                        </app-programming-language-details>
                    </ng-container>
                </li>
            </ul>
        </div>
    </li>
</ul>